<section class="best-sellers container">
  <div class="best-sellers-content">
    <h2 class="b-s-title">Best Sellers</h2>
    <a href="#" class="view-all-link" id="products">View all</a>
    <svg class="arr-right" width="24" height="24">
      <use href="./img/symbol-defs.svg#icon-arrow-right"></use>
    </svg>
  </div>
  <svg class="icon-arrow" width="343" height="0">
    <use href="./img/symbol-defs.svg#icon-arrow"></use>
  </svg>

    <!-- контейнер для карточек -->
  <div class="products" id=""></div>
    
  </section>

  <script src="./js/best-sellers.js"></script>

  