.decor-icon-container {
  display: none;
  position: absolute;
  top: -30px;
  left: -88px;
}
.advantages {
  background-color: #e8e4e4;
  display: flex;
  flex-direction: column;
  padding-bottom: 16px;
  position: relative;
}
.advantage-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 8px;
  padding-top: 13px;
  padding-bottom: 13px;
}
.icon-advantages {
  fill: transparent;
  stroke: #212322;
}
.separator {
  border-radius: 100%;
  background-color: #212322;
  width: 8px;
  height: 8px;
}
.title {
  font-weight: 400;
  font-size: 12px;
  line-height: 167%;
  text-transform: uppercase;
  text-align: center;
  color: #212322;
}

@media (min-width: 1440px) {
  .decor-icon-container {
    display: block;
    z-index: 0;
  }
  .advantages {
    flex-direction: row;
    align-items: flex-start;
    padding-left: 0;
    padding-right: 0;
    height: 214px;
    padding-top: 30px;
    padding-bottom: 30px;
    z-index: 1;
  }
  .advantage-list {
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 2;
  }
  .advantage-item {
    width: 160px;
    position: relative;
    z-index: 2;
  }
  .title {
    font-size: 14px;
    line-height: 143%;
    text-transform: none;
  }
}