.top-bar {
  background-color: #212322; 
  color: #fff; 
  text-align: center; 
  padding: 6px 10px;
  height: 30px;
}


.promo-text {
  margin: 0;
  font-family: sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  text-transform: uppercase;
  color: #fafaf8;
}

.main-nav {
  background-color: #fafaf8; 
  padding: 4px 16px;
  height: 53px;
}