header {
  width: 100%;
}

.top-bar {
  background-color: #212322; 
  color: #fff; 
  text-align: center; 
  padding: 6px 10px;
  height: 30px;
}

.promo-text {
  margin: 0;
  font-family: sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  text-transform: uppercase;
  color: #fafaf8;
}

.main-nav {
  background-color: #fafaf8; 
  padding: 4px 16px;
  height: 53.52px;
  justify-content: center;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mob-icons {
  display: flex;
  flex-direction: row;
  gap: 16px;
}
.icon-link {
  height: 24px;
}

.nav-links-desk {
  display: none;
}

.icon-search, .icon-user {
  display: none;
}
.header .logo {
  display: flex;
  align-items: center; 
 
}
.logo-link {
  width: 121px;  
}

.nav-icons {  
  display: flex;
}